<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style_x.css') }}">
    <!-- <link rel="script" href="{{ url_for('static', filename='../static/js/js.js') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/test_style.css"> -->
    <title>Document</title>
</head>
<body>  
    <div class="wrap">
        <!-- <div class="bar"> -->
        <div class="header">
            <div class="start_image">
                <img src="../static/images/blackwolf.png" alt="start_image">
            </div>
            <a href="/" target="_self">
                <div class="textArea">
                        Koo Young Deuk Portfolio
                </div>

            </a>
            <ul class="nav">
                <li><a href="#">Github</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Cover letter</a></li>
            </ul>
        </div>
        <!-- </div> -->
        <div class="content">
            <!-- <form action="http://127.0.0.1:8080/run" method="GET"> -->
            <form name="form1" method="GET">
                <div class="textBox">
                    <div class="box_one">
                        <div class="title_box1">
                            <select name=select id="selectbox">
                                <!-- <option value='0'<? if($select=='0') " selected";?>번역</option>
                                <option value='1'<? if($select=='1') " selected";?>요약</option>
                                <option value='2'<? if($select=='2') " selected";?>생성</option>
                                <option value='3'<? if($select=='3') " selected";?>분류</option> -->
                                <option value="0" {{selected0}}>번역</option>
                                <option value="1" {{selected1}}>요약</option>
                                <option value="2" {{selected2}}>생성</option>
                                <option value="3" {{selected3}}>분류</option>
                            </select>
                        </div>
                        <div class="inputwrite">
                            <textarea name="input" type="text" placeholder="내용을 입력해주세요." id="ta1" cols="34" rows="6">{{input1}}</textarea>
                        </div>
                        <div class="bottom_box1">
                            <!-- <input type="submit" value="실행" class="button"> -->
                            <input type="button" value="실행" class="button" onclick="goto_url('http://127.0.0.1:8080/run');">
                        </div> 
                    </div>
                    <div class="box_two">
                        <div class="title_box2">
                            Result
                        </div>
                        <div class="outputread">
                            <textarea name="output" type="text" placeholder="수정 할 문장을 입력해주세요." id="ta2" cols="34" rows="6">{{output1}}</textarea>           
                        </div>
                        <div class="bottom_box2">
                            <input type="button" name="insert" value="입력 완료" class="insert" onclick="goto_url('http://127.0.0.1:8080/insert');">
                        </div> 
                    </div>
                </div>
                <div class="bottom_line"></div>
                <div class="content_bottom_box">
                    <div class="info_box1">
                        <!-- <div class="use">Model
                            <ul class="use_info">
                                <li><a href="#">Transformer</a></li>
                            </ul>
                        </div>
                        <div class="use">Data
                            <ul class="use_info">
                                <li><a href="#">Ai_hub</a></li>
                            </ul>
                        </div>
                        <div class="use">language
                            <ul class="use_info">
                                <li><a href="#">Python : 3.11.0</a></li>
                            </ul>
                        </div>
                        <div class="use">Library
                            <ul class="use_info">
                                <li><a href="#">Pytorch</a></li>
                                <li><a href="#">transformers</a></li>
                            </ul>
                        </div>
                        <div class="use">Code
                            <ul class="use_info">
                                <li><a href="#">Colab</a></li>

                            </ul>
                        </div>
                             -->

                    </div>
                    <!-- <div class="use_model">
                        1. 사용 모델 : Transformer
                        2. 사용 데이터 : Ai_Hub
                        3. 사용 언어 : 한국어
                        4. 사용 기술 : Flask, Python, Tensorflow, HTML, CSS, Javascript
                        5.  사용 환경 : Windows 10, Python 3.8.5, Tensorflow 2.4.1, Flask 1.1.2

                    </div> -->

                    <div class="info_box2"></div>
                </div>
            </form>
        </div>
        <footer>
            <div class="logo">
                logo
            </div>
            <div>
                Name. 구영득<br>
                Addr. 경기도 성남시 분당구 야탑2동 519<br>
                Tel. 010-2605-0431<br>
                COPYRIGHT ⓒ 2021 Koo Young Deuk. ALL RIGHTS RESERVED.
            </div>
        </footer>
    </div>
    <script language="javascript">

        function goto_url(act) {
        
          document.form1.action = act;
          document.form1.submit();
        
        }
        
    </script>
</body>

</html>